.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.center-content img {
  width: 30%;
  object-fit: contain;
  vertical-align: top;
  border-radius: 20px;
}
.center-content h1 {
  letter-spacing: 10px;
}
